<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chatge</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/pepega.webp" rel="icon">
    <link href="static/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script>
        htmx.on("htmx:afterRequest", function (evt) {
            let chatArea = document.querySelector('.chat-area');
            let input = document.querySelector('.input');

            if (!chatArea || !input) return;

            chatArea.childNodes[chatArea.childNodes.length - 1].scrollIntoView(true);
            input.value = "";
        });

        htmx.on("htmx:confirm", function (evt) {
            let input = document.querySelector('.input');

            if (!input.value || !input.value?.trim()) evt.preventDefault();
        });

        function handleKeyup(e) {
            let sendButton = document.querySelector('.send-button');

            if (e.key === 'Enter') {
                sendButton?.click();
            }
        };
    </script>
</head>

<body>
    <div class="main-container">
        <div></div>
        <div>
            <div class="chat-container">
                <div class="chat-scrollable">
                    <div class="chat-area">
                    </div>
                </div>
                <div class="typing-area">
                    <input class="input" name="message" placeholder="Write a message..."
                        hx-on:keyup="handleKeyup(event)" />
                    <button class="send-button">Send</button>
                </div>
                <div hx-post="/show-my-message" hx-trigger="click from:.send-button" hx-target=".chat-area"
                    hx-swap="beforeend" hx-include=".input" hx-ext="json-enc"></div>
                <div hx-post="/get-bot-response" hx-trigger="click from:.send-button" hx-target=".chat-area"
                    hx-swap="beforeend" hx-include=".input" hx-ext="json-enc"></div>
            </div>
        </div>
        <div></div>
    </div>
</body>

</html>
